body{
		background-image: linear-gradient(to left,blue, green, blue);
	}

	#calculator{
		position: relative;
		width: 400px;
		height: 60px;
		font-size: 50px;
		font-family: monospace;
		text-align: center;
		bottom: 5px;
		color: gold;
	}

	#maindiv{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 400px;
		height: 400px;
		box-sizing: border-box;
		transform: translate(-50%, -50%);
	}

	#telas{
		width: 100%;
		border-radius: 20px;
		margin: 0 2px 0 2px;
		height: 30%;
		background-color: rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
		text-align: center;
	}


	.tela{
		width: 100%;
		box-sizing: border-box;
		padding: 0 20px 0 20px;
	}

	#tela1{
		width: 100%;
		height: 53%;
		border-bottom: inset gold 3px;
		overflow-y: hidden ;
		overflow-x: auto ;
	}

	#tela2{
		width: 100%;
		height: 48%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.out{
		width: 100%;
		height: 100%;
		font-family: sans-serif;
		overflow: hidden;
		box-sizing: border-box;
		text-align: center;

	}

	#out1{
		font-size: 50px;
		color: yellowgreen;
		line-height: 70px;
	}
	#out2{
		font-size: 45px;
		color: greenyellow;
		line-height: 60px;
	}



	/*.logo{
		width: 19%;
		height: 100%;
		background-image: url("../IMG/logo.webp");
		border-radius: 20px;
	}*/



	#teclado{
		width: 100%;
		height: 70%;

	}

	#operadores{
		width: 100%;
		height: 30%;
		display: flex;
		justify-content: center;
		padding: 2px;


	}

	.numeros{
		width: 100%;
		height: 30%;
		display: flex;
		justify-content: center;
		padding: 2px;

	}

	.operador{
		width:14%;
		height:100%;
		margin: 0 2px 0 2px;
		text-align: center;
		line-height: 70px;
		font-size: 50px;
		border-radius: 20px;
		font-family: monospace;
		background-color: rgba(0, 0, 0, 0.3);
		color: mediumaquamarine;


	}

	.numero{
		width:20%;
		height:100%;
		margin: 0 2px 0 2px;
		text-align: center;
		line-height: 85px;
		font-size: 50px;
		border-radius: 20px;
		font-family: monospace;
		background-color: rgba(0, 0, 0, 0.3);
		color: springgreen;
	}

	.numero:hover, .operador:hover{
		opacity: 0.7;
		cursor: default;
	}

	.numero:active, .operador:active{
		color: blanchedalmond;
		opacity: 1.0;
	}

	#limpar, #backspace{
		background-color: blanchedalmond;
		color: orange;
	}



@media screen and (min-width:600px){
#maindiv{
		width: 500px;
		height: 445px;}
#calculator{
		width: 500px;
		letter-spacing: 10px;}
		#out1{
			line-height: 75px;
		}
		#out2{
			line-height: 70px;
		}
}

/*@media screen and (min-width:768px){
#maindiv{
		width: 600px;
		height: 500px;}
#calculator{
		width: 600px;
		letter-spacing: 10px;}
}
