body {
	background-image: linear-gradient(to left, orangered, red, orangered);
	font-size: 1em;
}

#title {
	position: relative;
	width: 100%;
	font-size: 2em;
	font-family: monospace;
	text-align: center;
	color:whitesmoke;
}

#maindiv {
	text-align: center;
	position: absolute;
	left: 1%;
	top: 10vh;
	width: 98%;
	height: 100vh;
	box-sizing: border-box;
}

#telas {
	width: 100%;
	border-radius: 20px;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	text-align: center;
}


.tela {
	width: 100%;
	box-sizing: border-box;
	font-size: 1.8em;

}

#tela1 {
	width: 100%;
	height: 52%;
	border-bottom: inset gold 3px;
	overflow-y: hidden;
	overflow-x: auto;
}

#tela2 {
	width: 100%;
	height: 48%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.out {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	overflow: hidden;
	box-sizing: border-box;


}

#out1 {
	color: darkorange;
	
}

#out2 {
	color: orange;
}

#teclado {
	width: 100%;
	height: 70%;
	margin-top: 1%;
	display: flex;
	flex-direction: column;

}

#operadores {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
}

#numeros {
	padding: 0;
	width: 100;
	height: 30%;
	display: flex;
	flex-direction: column;
}

.operador {
	width: 14%;
	height: 100%;
	text-align: center;
	font-size: 2em;
	border-radius: 20px;
	font-family: monospace;
	background-color: rgba(0, 0, 0, 0.3);
	color: mediumaquamarine;
}

#numeros1,
#numeros2 {
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin-top: 0.5%;
}

.numero {
	width: 19.5%;
	height: fit-content;
	text-align: center;
	font-size: 2em;
	border-radius: 20px;
	font-family: monospace;
	background-color: rgba(0, 0, 0, 0.3);
	color: springgreen;
}

.numero:hover,
.operador:hover {
	opacity: 0.7;
	cursor: default;
}

.numero:active,
.operador:active {
	color: blanchedalmond;
	opacity: 1.0;
}

#Delete,
#Backspace {
	background-color: blanchedalmond;
	color: orange;
}

@media screen and (min-width:320px) {
	#title {
		font-size: 3.5em;
	}
	
	#maindiv {
		top: 5vh;
	}
	
	#telas {
		height: 15%;
	}

	.tela {
		font-size: 2.3em;

	}

	.out {
		line-height: 50%;
	}

	.numero, .operador {
		font-size: 4em;
	}


}


@media screen and (min-width:360px) {
	.tela {
		font-size: 3em;

	}

	.out {
		line-height: 100%;
	}


}


@media screen and (min-width:384px) {
	.tela {
		font-size: 3.5em;

	}

	.out {
		line-height: 100%;
	}
}



@media screen and (min-width:414px) {
	.tela {
		font-size: 4em;

	}
}



@media screen and (min-width:414px) {
	.tela {
		font-size: 4em;

	}
}



@media screen and (orientation: landscape){
	#telas {
		height: 30%;
	}
	
}

@media screen and (orientation: landscape) and (min-width: 320px) {
	#maindiv {
		margin-top: 0;
		width: 40%;
		height: 100%;
		margin-left: 50%;
		transform: translateX(-50%);
	}
	#title {
		display: none;
	}

	.tela {
		font-size: 2.5em;

	}
	.numero, .operador {
		font-size: 3.5em;
	}
	
}


@media screen and (orientation: landscape) and (min-width: 890px) {
	
	#title {
		display: block;
	}

	.tela {
		font-size: 3.5em;
	}
}


@media screen and (orientation: landscape) and (min-width: 1024px) {

	.tela {
		font-size: 4.5em;
	}
	#telas {
		height: 28%;
	}
}